<div itemscope itemtype="http://schema.org/Dataset">
<div id = "ancestry" class="panel panel-default">

			<div class="panel-heading">
				<h3 class="panel-title"><span itemprop="about">Ancestry Data for population in <span itemprop="spatial">{{value_name}} (2013 Census Estimates) </h3>
			</div>			
			<div  class="panel-body">
			<div class = "col-xs-12">		
			<p>	Total population : <span class="label label-primary">{{value_ancestry_tot_pop}}</span>		
			<div class="col-xs-12">	
			<div  class="panel-body">					
			<div class="table-responsive">
						<table	class="table table-condensed table-striped table-bordered table-hover no-margin">
							<thead>
								<tr>
									<th style="width: 10%"><span itemprop="about">Ancestry</th>								
									<th style="width: 10%">Estimate(%)</th>
								</tr>
							</thead>
							<tbody>

								
								
								<tr>
									<td><span itemprop="about">{{name_american}}</td>								
									<td>{{value_american}}</td>
								</tr>
								<tr>
									<td><span itemprop="about">{{name_arab}}</td>								
									<td>{{value_arab}}</td>
								</tr>
								<tr>
									<td><span itemprop="about">{{name_czech}}</td>								
									<td>{{value_czech}}</td>
								</tr>
								<tr>
									<td><span itemprop="about">{{name_danish}}</td>								
									<td>{{value_danish}}</td>
								</tr>
								<tr>
									<td><span itemprop="about">{{name_dutch}}</td>								
									<td>{{value_dutch}}</td>
								</tr>
								<tr>
									<td><span itemprop="about">{{name_english}}</td>								
									<td>{{value_english}}</td>
								</tr>
								<tr>
									<td><span itemprop="about">{{name_french_except_basque}}</td>								
									<td>{{value_french_except_basque}}</td>
								</tr>
								<tr>
									<td><span itemprop="about">{{name_french_canadian}}</td>								
									<td>{{value_french_canadian}}</td>
								</tr>
								<tr>
									<td><span itemprop="about">{{name_german}}</td>								
									<td>{{value_german}}</td>
								</tr>
								<tr>
									<td><span itemprop="about">{{name_greek}}</td>								
									<td>{{value_greek}}</td>
								</tr>
								<tr>
									<td><span itemprop="about">{{name_hungarian}}</td>								
									<td>{{value_hungarian}}</td>
								</tr>
								<tr>
									<td><span itemprop="about">{{name_irish}}</td>								
									<td>{{value_irish}}</td>
								</tr>
								<tr>
									<td><span itemprop="about">{{name_italian}}</td>								
									<td>{{value_italian}}</td>
								</tr>
								<tr>
									<td><span itemprop="about">{{name_lithuanian}}</td>								
									<td>{{value_lithuanian}}</td>
								</tr>
								<tr>
									<td><span itemprop="about">{{name_norwegian}}</td>								
									<td>{{value_norwegian}}</td>
								</tr>
								<tr>
									<td><span itemprop="about">{{name_polish}}</td>								
									<td>{{value_polish}}</td>
								</tr>
								
								<tr>
									<td><span itemprop="about">{{name_portuguese}}</td>								
									<td>{{value_portuguese}}</td>
								</tr>
								<tr>
									<td><span itemprop="about">{{name_russian}}</td>								
									<td>{{value_russian}}</td>
								</tr>
								<tr>
									<td><span itemprop="about">{{name_scotch_irish}}</td>								
									<td>{{value_scotch_irish}}</td>
								</tr>
								
								<tr>
									<td><span itemprop="about">{{name_scottish}}</td>								
									<td>{{value_scottish}}</td>
								</tr>
								
								<tr>
									<td><span itemprop="about">{{name_slovak}}</td>								
									<td>{{value_slovak}}</td>
								</tr>
								
								<tr>
									<td><span itemprop="about">{{name_subsaharan_africa}}</td>								
									<td>{{value_subsaharan_africa}}</td>
								</tr>
								
								<tr>
									<td><span itemprop="about">{{name_swedish}}</td>								
									<td>{{value_swedish}}</td>
								</tr>
								
								<tr>
									<td><span itemprop="about">{{name_swiss}}</td>								
									<td>{{value_swiss}}</td>
								</tr>
								
								<tr>
									<td><span itemprop="about">{{name_ukrainian}}</td>								
									<td>{{value_ukrainian}}</td>
								</tr>
								
								<tr>
									<td><span itemprop="about">{{name_welsh}}</td>								
									<td>{{value_welsh}}</td>
								</tr>
								<tr>
									<td><span itemprop="about">{{name_west_indian}}</td>								
									<td>{{value_west_indian}}</td>
								</tr>
									
								
																		
								
							</tbody>
						</table>
					</div>		
				</div>
			</div>						
			
					
		</div>	

					
		</div>
		</div>	
		
		</div>
		

					
		