<div itemscope itemtype="http://schema.org/Dataset">
<div id = "educationalatt" class="panel panel-default">
	
			<div class="panel-heading">
				<h3 class="panel-title"><span itemprop="about">Educational Attainment in <span itemprop="spatial">{{value_name}} (2013 Census Estimates)</h3>
			</div>			
			<div  class="panel-body">
			<div class = "col-xs-12">		
			<p>	{{name_educational_attainment_pop_25_over}} : <span class="label label-primary">{{value_educational_attainment_pop_25_over}}</span></p>
			<p>	{{name_educational_attainment_per_hs_higher}} : <span class="label label-primary">{{value_educational_attainment_per_hs_higher}} %</span></p>
			<p>	{{name_educational_attainment_per_bachelors_higher}} : <span class="label label-primary">{{value_educational_attainment_per_bachelors_higher}} %</span></p>
						
			<div class="col-xs-12">	
			<div  class="panel-body">		
			<div id="name_educational_attainment_levels" style="min-width: 375px; height: 450px; max-width: 500px;">
			</div>
			<div class="table-responsive">
						<table
							class="table table-condensed table-striped table-bordered table-hover no-margin">
							<thead>
								<tr>
									<th style="width: 10%"><span itemprop="about">{{name_educational_attainment_levels}}</th>								
									<th style="width: 10%">Estimate (%)</th>
								</tr>
							</thead>
							<tbody>

								<tr>
									<td><span itemprop="about">{{name_educational_attainment_less_9}}</td>								
									<td>{{value_educational_attainment_less_9}}</td>
								</tr>
								<tr>
									<td><span itemprop="about">{{name_educational_attainment_9_to_12}}</td>								
									<td>{{value_educational_attainment_9_to_12}}</td>
								</tr>
								<tr>
									<td><span itemprop="about">{{name_educational_attainment_high_school}}</td>								
									<td>{{value_educational_attainment_high_school}}</td>
								</tr>
								<tr>
									<td><span itemprop="about">{{name_educational_attainment_some_college}}</td>								
									<td>{{value_educational_attainment_some_college}}</td>
								</tr>
								<tr>
									<td><span itemprop="about">{{name_educational_attainment_associates}}</td>								
									<td>{{value_educational_attainment_associates}}</td>
								</tr>
								<tr>
									<td><span itemprop="about">{{name_educational_attainment_bachelors}}</td>								
									<td>{{value_educational_attainment_bachelors}}</td>
								</tr>
								<tr>
									<td><span itemprop="about">{{name_educational_attainment_graduate}}</td>								
									<td>{{value_educational_attainment_graduate}}</td>
								</tr>
								
								
							</tbody>
						</table>
					</div>		
				</div>
			</div>						
			
					
		</div>	

					
		</div>
		</div>
		
		</div>
		
		

					
		