<div itemscope itemtype="http://schema.org/Dataset">	
<div id = "fertility" class="panel panel-default">
		
			<div class="panel-heading">
				<h3 class="panel-title"><span itemprop="about">Fertility Data for Women in <span itemprop="spatial">{{value_name}} (2013 Census Estimates)</h3>
			</div>			
			<div  class="panel-body">
			<div class = "col-xs-12">		
			<p>	<span itemprop="about">{{name_women_15_to_15_birth_last_12}} : <span class="label label-primary">{{value_women_15_to_15_birth_last_12}}</span></p>
			<p>	<span itemprop="about">{{name_women_15_to_15_birth_last_12_unmarried}} : <span class="label label-primary">{{value_women_15_to_15_birth_last_12_unmarried}} %</span></p>
		
						
			<div class="col-xs-12">	
			<div  class="panel-body">					
			<div class="table-responsive">
						<table
							class="table table-condensed table-striped table-bordered table-hover no-margin">
							<thead>
								<tr>
									<th style="width: 10%"><span itemprop="about">Fertility</th>								
									<th style="width: 10%">Per 1000 Women</th>
								</tr>
							</thead>
							<tbody>

								<tr>
									<td><span itemprop="about">{{name_fertitlity_per_1000_unmarried}}</td>								
									<td>{{value_fertitlity_per_1000_unmarried}}</td>
								</tr>
								<tr>
									<td><span itemprop="about">{{name_fertitlity_per_1000_15_to_50}}</td>								
									<td>{{value_fertitlity_per_1000_15_to_50}}</td>
								</tr>
								<tr>
									<td><span itemprop="about">{{name_fertitlity_per_1000_15_to_19}}</td>								
									<td>{{value_fertitlity_per_1000_15_to_19}}</td>
								</tr>
								<tr>
									<td><span itemprop="about">{{name_fertitlity_per_1000_20_to_34}}</td>								
									<td>{{value_fertitlity_per_1000_20_to_34}}</td>
								</tr>
								<tr>
									<td><span itemprop="about">{{name_fertitlity_per_1000_35_to_50}}</td>								
									<td>{{value_fertitlity_per_1000_35_to_50}}</td>
								</tr>								
								
							</tbody>
						</table>
					</div>		
				</div>
			</div>						
			
					
		</div>	

					
		</div>
		</div>
		
		</div>
		
		

					
		