
<div itemscope itemtype="http://schema.org/Dataset">	
<div id = "foreignborn" class="panel panel-default">
	
			<div class="panel-heading">
				<h3 class="panel-title"><span itemprop="about">World Region of Birth of Foreign born population in <span itemprop="spatial"> {{value_name}} households (2013 Census Estimates)</h3>
			</div>			
			<div  class="panel-body">
			<div class = "col-xs-12">		
			<p>	{{name_foreign_born_population}} : <span class="label label-primary">{{value_foreign_born_population}}</span></p>
									
			<div class="col-xs-12">	
			<div  class="panel-body">		
			<div id="name_foreign_born_population_regions" style="min-width: 375px; height: 450px; max-width: 500px;">
			</div>
			<div class="table-responsive">
						<table
							class="table table-condensed table-striped table-bordered table-hover no-margin">
							<thead>
								<tr>
									<th style="width: 10%">Region of Birth</th>								
									<th style="width: 10%">Estimate (%)</th>
								</tr>
							</thead>
							<tbody>

								<tr>
									<td><span itemprop="about">{{name_europe}}</td>								
									<td>{{value_europe}}</td>
								</tr>
								<tr>
									<td><span itemprop="about">{{name_asia}}</td>								
									<td>{{value_asia}}</td>
								</tr>
								<tr>
									<td><span itemprop="about">{{name_africa}}</td>								
									<td>{{value_africa}}</td>
								</tr>
								<tr>
									<td><span itemprop="about">{{name_oceania}}</td>								
									<td>{{value_oceania}}</td>
								</tr>
								<tr>
									<td><span itemprop="about">{{name_northern_america}}</td>								
									<td>{{value_northern_america}}</td>
								</tr>								
								
							</tbody>
						</table>
					</div>		
				</div>
			</div>						
			
					
		</div>	

					
		</div>
		</div>
		</div>
		
		

					
		