<div itemscope itemtype="http://schema.org/Dataset">
<div id = "grandparents" class="panel panel-default">
<div>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Grandparents_AdBar -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-3154845825068093"
     data-ad-slot="1832940566"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
	
			<div class="panel-heading">
				<h3 class="panel-title"><span itemprop="about">Grandparents responsible for own Grandchildren in <span itemprop="spatial">{{value_name}} (2013 Census Estimates) </h3>
			</div>			
			<div  class="panel-body">
			<div class = "col-xs-12">		
			<p>	<span itemprop="about">{{name_gp_with_gc_under18}} : <span class="label label-primary">{{value_gp_with_gc_under18}}</span></p>
			<p>	<span itemprop="about">{{name_gp_res_for_gc}} : <span class="label label-primary">{{value_gp_res_for_gc}} %</span></p>
			<p>	<span itemprop="about">{{name_gp_res_own_gc_under18}} : <span class="label label-primary">{{value_gp_res_own_gc_under18}} </span></p>
			<p>	<span itemprop="about">{{name_per_fgp_res_own_gc_under18}} : <span class="label label-primary">{{value_per_fgp_res_own_gc_under18}} %</span></p>
			<p>	<span itemprop="about">{{name_per_mgp_res_own_gc_under18}} : <span class="label label-primary">{{value_per_mgp_res_own_gc_under18}} %</span></p>
									
			<div class="col-xs-12">	
			<div  class="panel-body">					
			<div class="table-responsive">
						<table
							class="table table-condensed table-striped table-bordered table-hover no-margin">
							<thead>
								<tr>
									<th style="width: 10%"><span itemprop="about">Years responsible for Grandchildren</th>								
									<th style="width: 10%">Estimate(%)</th>
								</tr>
							</thead>
							<tbody>

								<tr>
									<td><span itemprop="about">{{name_gp_res_for_fc_less_1yr}}</td>								
									<td>{{value_gp_res_for_fc_less_1yr}}</td>
								</tr>
								<tr>
									<td><span itemprop="about">{{name_gp_res_for_gc_1_or_2yr}}</td>								
									<td>{{value_gp_res_for_gc_1_or_2yr}}</td>
								</tr>
								<tr>
									<td><span itemprop="about">{{name_gp_res_for_gc_3_or_4yr}}</td>								
									<td>{{value_gp_res_for_gc_3_or_4yr}}</td>
								</tr>
								<tr>
									<td><span itemprop="about">{{name_gp_res_for_gc_5_or_more_yr}}</td>								
									<td>{{value_gp_res_for_gc_5_or_more_yr}}</td>
								</tr>													
								
							</tbody>
						</table>
					</div>		
				</div>
			</div>						
			
					
		</div>	

					
		</div>
		</div>
		
		</div>
		
		

					
		