<div itemscope itemtype="http://schema.org/Dataset">
<div id = "hispanicorlatino" class="panel panel-default">
	<div>
		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<!-- HispanicResponseAd -->
		<ins class="adsbygoogle"
     	style="display:block"
        data-ad-client="ca-pub-3154845825068093"
        data-ad-slot="5462561360"
        data-ad-format="auto"></ins>
		<script>
		(adsbygoogle = window.adsbygoogle || []).push({});
		</script>
	</div>
		
			<div class="panel-heading">
				<h3 class="panel-title"><span itemprop="about">Hispanic or Latino and Race - {{value_name}} (2013 Census Estimates)</h3>
			</div>
			<div  class="panel-body">
			<div class = "col-xs-12">		
			<p>	{{name_total_population_his}}: <span class="label label-primary">{{value_total_population_his}}</span></p>
			<div>			
			<p>{{name_hispanic_or_latino_any_race}}: <span class="label label-primary">{{value_hispanic_or_latino_any_race}} %</span></p>
			<div class="table-responsive">
						<table
							class="table table-condensed table-striped table-bordered table-hover no-margin">
							<thead>
								<tr>
									<th style="width: 10%"><span itemprop="about">{{name_hispanic_or_latino_any_race}}</th>								
									<th style="width: 10%">Estimate(%)</th>
								</tr>
							</thead>
							<tbody>

								<tr>
									<td><span itemprop="about">{{name_hispanic_or_latino_any_race_mexican}}</td>								
									<td>{{value_hispanic_or_latino_any_race_mexican}}</td>
								</tr>
								<tr>
									<td><span itemprop="about">{{name_hispanic_or_latino_any_race_puerto_rico}}</td>									
									<td>{{value_hispanic_or_latino_any_race_puerto_rico}}</td>
								</tr>
								<tr>
									<td><span itemprop="about">{{name_hispanic_or_latino_any_race_cuban}}</td>								
									<td>{{value_hispanic_or_latino_any_race_cuban}}</td>
								</tr>
								<tr>
									<td><span itemprop="about">{{name_hispanic_or_latino_any_race_other_hispanic}}</td>								
									<td>{{value_hispanic_or_latino_any_race_other_hispanic}}</td>
								</tr>
							</tbody>
						</table>
					</div>						
			</div>
			
			<div>			
			<p>{{name_not_hispanic_or_latino}}: <span class="label label-primary">{{value_not_hispanic_or_latino}} %</span></p>
			<div class="table-responsive">
						<table
							class="table table-condensed table-striped table-bordered table-hover no-margin">
							<thead>
								<tr>
									<th style="width: 10%">{{name_not_hispanic_or_latino}}</th>								
									<th style="width: 10%">Estimate(%)</th>
								</tr>
							</thead>
							<tbody>

								<tr>
									<td><span itemprop="about">{{name_not_hispanic_or_latino_white}}</td>								
									<td>{{value_not_hispanic_or_latino_white}}</td>
								</tr>
								<tr>
									<td><span itemprop="about">{{name_not_hispanic_or_latino_black}}</td>									
									<td>{{value_not_hispanic_or_latino_black}}</td>
								</tr>
								<tr>
									<td><span itemprop="about">{{name_not_hispanic_or_latino_american_indian}}</td>								
									<td>{{value_not_hispanic_or_latino_american_indian}}</td>
								</tr>
								<tr>
									<td><span itemprop="about">{{name_not_hispanic_or_latino_asian}}</td>								
									<td>{{value_not_hispanic_or_latino_asian}}</td>
								</tr>
								<tr>
									<td><span itemprop="about">{{name_not_hispanic_or_latino_native_hawaiian}}</td>								
									<td>{{value_not_hispanic_or_latino_native_hawaiian}}</td>
								</tr>
								<tr>
									<td><span itemprop="about">{{name_not_hispanic_or_latino_some_other}}</td>								
									<td>{{value_not_hispanic_or_latino_some_other}}</td>
								</tr>
							</tbody>
						</table>
					</div>						
			</div>
			
			<div>			
			<p>{{name_two_or_more_races_brk}}: <span class="label label-primary">{{value_two_or_more_races_brk}} %</span></p>
			<div class="table-responsive">
						<table
							class="table table-condensed table-striped table-bordered table-hover no-margin">
							<thead>
								<tr>
									<th style="width: 10%">{{name_two_or_more_races_brk}}</th>								
									<th style="width: 10%">Estimate(%)</th>
								</tr>
							</thead>
							<tbody>

								<tr>
									<td><span itemprop="about">{{name_two_or_more_races_brk_inclu}}</td>								
									<td>{{value_two_or_more_races_brk_inclu}}</td>
								</tr>
								<tr>
									<td><span itemprop="about">{{name_two_or_more_races_brk_exclu}}</td>									
									<td>{{value_two_or_more_races_brk_exclu}}</td>
								</tr>
								
							</tbody>
						</table>
					</div>						
			</div>
			
			
			</div>
		</div>
		
		</div>
		</div>