<script src="${pageContext.request.contextPath}/js/icharts.js"></script> 
 <script>
  $(document).ready(function() 
          {   
			
	  var re= ${fipcode};	  
	  var dat ;
	  $.ajax({
			url : '${pageContext.request.contextPath}/charts',
			type : "GET",			
			headers: {
		        'resource':re
			},
			dataType : "json",
			contentType : "application/json",
				success: function(data){     
	             var obj= JSON.parse(JSON.stringify(data));           
	             var temp = obj.idToJsonMap; 
	           /* for (var key in temp) {
   			 	drawchart(key,temp[key]);
				}*/
				drawchart("name_fam_vs_nonfam_hos",temp["name_fam_vs_nonfam_hos"]);		
	              
	             }
		});
			        	 
        	 
 });
</script>



<div itemscope itemtype="http://schema.org/Dataset">
<div id = "householdsbytype" class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title"><span itemprop="about">Households by type in <span itemprop="spatial">{{value_name}} (2013 Census Estimates)</h3>
			</div>			
			<div  class="panel-body">
			<div class = "col-xs-6">		
			<p>	<span itemprop="about">{{name_tot_hoshold}} in {{value_name}} : <span class="label label-primary">{{value_tot_hoshold}}</span>
			<p>	<span itemprop="about">{{name_hoshold_below_18}}  : <span class="label label-primary">{{value_hoshold_below_18}}%</span>
			<p>	<span itemprop="about">{{name_hoshold_above_65}}  : <span class="label label-primary">{{value_hoshold_above_65}}%</span>
			<p>	<span itemprop="about">{{name_ave_hoshold_size}} in {{value_name}} : <span class="label label-primary">{{value_ave_hoshold_size}}</span>
			<p>	<span itemprop="about">{{name_ave_fam_size}} in {{value_name}} : <span class="label label-primary">{{value_ave_fam_size}}</span>	
			</p>
			<div id="name_fam_vs_nonfam_hos" style="min-width: 175px; height: 250px; max-width: 300px;"></div>						
			
			<div class="table-responsive">
						<table
							class="table table-condensed table-striped table-bordered table-hover no-margin">
							<thead>
								<tr>
									<th style="width: 10%"><span itemprop="about">Household Type</th>								
									<th style="width: 10%">Estimate (%)</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><span itemprop="about">{{name_fam_hoshold}}</td>								
									<td>{{value_fam_hoshold}}</td>
								</tr>
								<tr>
									<td><span itemprop="about">{{name_non_fam_hoshold}}</td>								
									<td>{{value_non_fam_hoshold}}</td>
								</tr>													
								
							</tbody>
						</table>
					</div>					
		</div>
		
		<div class = "col-xs-6">
		<div class="table-responsive">
						<table
							class="table table-condensed table-striped table-bordered table-hover no-margin">
							<thead>
								<tr>
									<th style="width: 10%"><span itemprop="about">Family Households by type</th>								
									<th style="width: 10%">Estimate (%)</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><span itemprop="about">{{name_marr_couple_fam}}</td>								
									<td>{{value_marr_couple_fam}}</td>
								</tr>
								<tr>
									<td><span itemprop="about">{{name_male_no_wife_hoshold}}</td>								
									<td>{{value_male_no_wife_hoshold}}</td>
								</tr>
								<tr>
									<td><span itemprop="about">{{name_female_no_male_hoshold}}</td>								
									<td>{{value_female_no_male_hoshold}}</td>
								</tr>														
								
							</tbody>
						</table>
					</div>		
					
		<div class="table-responsive">
						<table
							class="table table-condensed table-striped table-bordered table-hover no-margin">
							<thead>
								<tr>
									<th style="width: 10%"><span itemprop="about">{{name_non_fam_hoshold}}</th>								
									<th style="width: 10%">Estimate (%)</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><span itemprop="about">{{name_hosholder_liv_alone}}</td>								
									<td>{{value_hosholder_liv_alone}}</td>
								</tr>
								<tr>
									<td><span itemprop="about">{{name_hosholder_liv_alone_65_over}}</td>								
									<td>{{value_hosholder_liv_alone_65_over}}</td>
								</tr>													
								
							</tbody>
						</table>
					</div>		
					</div>
					
					
					</div>
					</div>
					
					</div>
					
		
			