<div itemscope itemtype="http://schema.org/Dataset">
<div id = "language" class="panel panel-default">
	
			<div class="panel-heading">
				<h3 class="panel-title"><span itemprop="about">Language spoken at home in <span itemprop="spatial">{{value_name}} (2013 Census Estimates) </h3>
			</div>			
			<div  class="panel-body">
			<div class = "col-xs-6">		
			<p>	{{name_pop_5yeays_and_over}} in {{value_name}} : <span class="label label-primary">{{value_pop_5yeays_and_over}}</span>					
			</p>
			<div id="name_lang_spoken_at_home_bdown" style="min-width: 175px; height: 250px; max-width: 300px;"></div>						
			
			<div class="table-responsive">
						<table
							class="table table-condensed table-striped table-bordered table-hover no-margin">
							<thead>
								<tr>
									<th style="width: 10%"><span itemprop="about">English vs Other Languages</th>								
									<th style="width: 10%">Estimate (%)</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><span itemprop="about">{{name_english_only}}</td>								
									<td>{{value_english_only}}</td>
								</tr>
								<tr>
									<td><span itemprop="about">{{name_lang_other_than_english}}</td>								
									<td>{{value_lang_other_than_english}}</td>
								</tr>													
								
							</tbody>
						</table>
					</div>					
		</div>
		
		<div class = "col-xs-6">
		<p>	Breakdown of non English languages with data on English speaking ability	</p>
		<div class="table-responsive">
						<table
							class="table table-condensed table-striped table-bordered table-hover no-margin">
							<thead>
								<tr>
									<th style="width: 10%"><span itemprop="about">Language Spoken</th>								
									<th style="width: 10%">Estimate (%)</th>
									<th style="width: 10%"><span itemprop="about">Can Speak English less than very well (%)</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><span itemprop="about">{{name_spanish}}</td>								
									<td>{{value_spanish}}</td>
									<td>{{value_speak_english_less_than_very_well_spanish}}</td>
								</tr>
								<tr>
									<td><span itemprop="about">{{name_european_languages}}</td>								
									<td>{{value_european_languages}}</td>
									<td>{{value_speak_english_less_than_very_well_european}}</td>
								</tr>
								<tr>
									<td><span itemprop="about">{{name_asian_and_pacafic_islander_langauage}}</td>								
									<td>{{value_asian_and_pacafic_islander_langauage}}</td>
									<td>{{value_speak_english_less_than_very_well_asian}}</td>
								</tr>									
								<tr>
									<td><span itemprop="about">{{name_other_languages}}</td>								
									<td>{{value_other_languages}}</td>
									<td>{{value_speak_english_less_than_very_well_other}}</td>
								</tr>														
								
							</tbody>
						</table>
					</div>	
					</div>
					</div>
					</div>
</div>