<div itemscope itemtype="http://schema.org/Dataset">
<div id = "maritalstatus" class="panel panel-default">

			<div class="panel-heading">
				<h3 class="panel-title"><span itemprop="about">Marital Status in <span itemprop="spatial">{{value_name}} (2013 Census Estimates)</h3>
			</div>			
			<div  class="panel-body">
			<div class = "col-xs-12">		
			<p>	Population of {{name_male_15_over}} : <span class="label label-primary">{{value_male_15_over}}</span>
			<p> Population of {{name_female_15_over}}: <span class="label label-primary">{{value_female_15_over}}</span>		
			
			<div class="col-xs-6">	
			<div  class="panel-body">		
			<div id="name_maritial_status_male" style="min-width: 250px; height: 350px; max-width: 500px;">
			</div>
			<div class="table-responsive">
						<table
							class="table table-condensed table-striped table-bordered table-hover no-margin">
							<thead>
								<tr>
									<th style="width: 10%"><span itemprop="about">{{name_maritial_status_male}}</th>								
									<th style="width: 10%">Estimate (%)</th>
								</tr>
							</thead>
							<tbody>

								<tr>
									<td><span itemprop="about">{{name_maritial_status_male_never_married}}</td>								
									<td>{{value_maritial_status_male_never_married}}</td>
								</tr>
								<tr>
									<td><span itemprop="about">{{name_maritial_status_male_now_married}}</td>								
									<td>{{value_maritial_status_male_now_married}}</td>
								</tr>
								<tr>
									<td><span itemprop="about">{{name_maritial_status_male_seperated}}</td>								
									<td>{{value_maritial_status_male_seperated}}</td>
								</tr>
								<tr>
									<td><span itemprop="about">{{name_maritial_status_male_widowed}}</td>								
									<td>{{value_maritial_status_male_widowed}}</td>
								</tr>
								<tr>
									<td><span itemprop="about">{{name_maritial_status_male_divorced}}</td>								
									<td>{{value_maritial_status_male_divorced}}</td>
								</tr>
								
								
							</tbody>
						</table>
					</div>		
				</div>
			</div>						
			<div class="col-xs-6">	
			<div  class="panel-body">					
			<div id="name_maritial_status_female" style="min-width: 250px; height: 350px; max-width: 500px;"></div>	
			<div class="table-responsive">
						<table
							class="table table-condensed table-striped table-bordered table-hover no-margin">
							<thead>
								<tr>
									<th style="width: 10%"><span itemprop="about">{{name_maritial_status_female}}</th>								
									<th style="width: 10%">Estimate (%)</th>
								</tr>
							</thead>
							<tbody>

								<tr>
									<td><span itemprop="about">{{name_maritial_status_female_never_married}}</td>								
									<td>{{value_maritial_status_female_never_married}}</td>
								</tr>
								<tr>
									<td><span itemprop="about">{{name_maritial_status_female_now_married}}</td>								
									<td>{{value_maritial_status_female_now_married}}</td>
								</tr>
								<tr>
									<td><span itemprop="about">{{name_maritial_status_female_seperated}}</td>								
									<td>{{value_maritial_status_female_seperated}}</td>
								</tr>
								<tr>
									<td><span itemprop="about">{{name_maritial_status_female_widowed}}</td>								
									<td>{{value_maritial_status_female_widowed}}</td>
								</tr>
								<tr>
									<td><span itemprop="about">{{name_maritial_status_female_divorced}}</td>								
									<td>{{value_maritial_status_female_divorced}}</td>
								</tr>
								
								
							</tbody>
						</table>
					</div>	
				</div>						
			</div>
			</div>
			</div>	
					
		</div>
		
		</div>
		
		
		

					
		