 <aside class="main-sidebar">
  <section class="sidebar">         
          <!-- Sidebar Menu -->
          <ul class="sidebar-menu">
            <li class="header">Demographic and Social data</li>
            <!-- Optionally, you can add icons to the links -->
            <li><a href="${requestScope['javax.servlet.forward.request_uri']}/../Age-Sex"><i class="fa fa-pie-chart"></i> <span>Sex and Age</span></a></li>
            <li><a href="${requestScope['javax.servlet.forward.request_uri']}/../Race"><i class="fa fa-pie-chart"></i> <span>Race</span></a></li>
            <li><a href="${requestScope['javax.servlet.forward.request_uri']}/../Hispanic-Latino"><i class="fa fa-pie-chart"></i> <span>Hispanic or Latino</span></a></li>
            <li><a href="${requestScope['javax.servlet.forward.request_uri']}/../HouseHolds-ByType"><i class="fa fa-pie-chart"></i> <span>Households by Type</span></a></li>
            <li><a href="${requestScope['javax.servlet.forward.request_uri']}/../Relationships"><i class="fa fa-pie-chart"></i> <span>Relationship</span></a></li>
            <li><a href="${requestScope['javax.servlet.forward.request_uri']}/../Maritial-Status"><i class="fa fa-pie-chart"></i> <span>Maritial Status</span></a></li>
            <li><a href="${requestScope['javax.servlet.forward.request_uri']}/../Fertility"><i class="fa fa-pie-chart"></i> <span>Fertility</span></a></li>
            <li><a href="${requestScope['javax.servlet.forward.request_uri']}/../Grand-Parents"><i class="fa fa-pie-chart"></i> <span>Grandparents</span></a></li>
            <li><a href="${requestScope['javax.servlet.forward.request_uri']}/../School-Enrollment"><i class="fa fa-pie-chart"></i> <span>School Enrollment</span></a></li>
            <li><a href="${requestScope['javax.servlet.forward.request_uri']}/../Educational-Attainment"><i class="fa fa-pie-chart"></i> <span>Educational Attainment</span></a></li>
            <li><a href="${requestScope['javax.servlet.forward.request_uri']}/../Veteran-Status"><i class="fa fa-pie-chart"></i> <span>Veteran Status</span></a></li>
            <li><a href="${requestScope['javax.servlet.forward.request_uri']}/../Place-Of-Birth"><i class="fa fa-pie-chart"></i> <span>Place of Birth</span></a></li>
            <li><a href="${requestScope['javax.servlet.forward.request_uri']}/../US-Citizenship"><i class="fa fa-pie-chart"></i> <span>US Citizenship Status</span></a></li>
            <li><a href="${requestScope['javax.servlet.forward.request_uri']}/../Languages-Spoken"><i class="fa fa-pie-chart"></i> <span>Language Spoken at Home</span></a></li>
            <li><a href="${requestScope['javax.servlet.forward.request_uri']}/../Ancestry"><i class="fa fa-pie-chart"></i> <span>Ancestry</span></a></li>
            <li><a href="${requestScope['javax.servlet.forward.request_uri']}/../Computer-Usage"><i class="fa fa-pie-chart"></i> <span>Computer and Internet Usage</span></a></li>            
           </ul><!-- /.sidebar-menu -->
        </section>
 </aside>
href="/states/Arizona
<div class="content-wrapper">
        <!-- Content Header (Page header) -->
       
   


        <!-- Main content -->
        <section class="content">
