package com.censtat.web;

import java.net.UnknownHostException;
import java.text.DateFormat;
import java.util.Date;
import java.util.List;
import java.util.Locale;

import org.slf4j.Logger;
import org.slf4j.LoggerFactory;
import org.springframework.stereotype.Controller;
import org.springframework.ui.Model;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.RequestMethod;



/**
 * Handles requests for the application home page.
 */
@Controller
public class {{controllerName}} {
	private static final Logger logger = LoggerFactory
			.getLogger({{controllerName}}.class);	
	

{{#links}}
@RequestMapping(value = "{{linkName}}", method = RequestMethod.GET)
	public String get{{linkValue}}(Locale locale, Model model) {
	
		model.addAttribute("fipcode", "{{fipCode}}");
		return "{{linkValue}}";
	}   
	{{/links}}   
	
	}         		