<div itemscope itemtype="http://schema.org/Dataset">
<div id ="racesection" class="panel panel-default">

			<div class="panel-heading">
				<h3 class="panel-title"><span itemprop="about">Race Data for {{value_name}} (2013 Census Estimates)</h3>
			</div>
			<div  class="panel-body">
			<div class = "col-xs-12">		
			<p>	{{name_total_population_race}} : <span class="label label-primary">{{value_total_population_race}}</span>	
			<p>	{{name_one_race}} : <span class="label label-primary">{{value_one_race}} %</span>	
			<p>	{{name_two_or_more_race}} : <span class="label label-primary">{{value_two_or_more_race}} %</span>								
			</div>
			<div >		
			<p><span class="label label-success"><span itemprop="about">One Race-Breakdown</span></p>
					<div class="table-responsive">
						<table
							class="table table-condensed table-striped table-bordered table-hover no-margin">
							<thead>
								<tr>
									<th style="width: 10%"><span itemprop="about">Race</th>
									<th style="width: 10%"><span itemprop="about">Sub Race</th>
									<th style="width: 10%">Estimate(%)</th>
								</tr>
							</thead>
							<tbody>

								<tr>
									<td><span itemprop="about">{{name_one_race_white}}</td>
									<td></td>
									<td>{{value_one_race_white}}</td>
								</tr>
								<tr>
									<td><span itemprop="about">{{name_one_race_black_or_african_american}}</td>
									<td></td>
									<td>{{value_one_race_black_or_african_american}}</td>
								</tr>
								<tr>
									<td><span itemprop="about">{{name_one_race_american_indian_and_alaska_native}}</td>
									<td></td>
									<td>{{value_one_race_american_indian_and_alaska_native}}</td>
								</tr>
								<tr>
									<td></td>
									<td><span itemprop="about">{{name_american_indian_cherokee_tribal}}</td>
									<td>{{value_american_indian_cherokee_tribal}}</td>
								</tr>
								<tr>
									<td></td>
									<td><span itemprop="about">{{name_american_indian_chippewa_tribal}}</td>
									<td>{{value_american_indian_chippewa_tribal}}</td>
								</tr>
								<tr>
									<td></td>
									<td><span itemprop="about">{{name_american_indian_navajo_tribal}}</td>
									<td>{{value_american_indian_navajo_tribal}}</td>
								</tr>
								<tr>
									<td></td>
									<td><span itemprop="about">{{name_american_indian_sioux_tribal}}</td>
									<td>{{value_american_indian_sioux_tribal}}</td>
								</tr>
								<tr>
									<td><span itemprop="about">{{name_one_race_asian}}</td>
									<td></td>
									<td>{{value_one_race_asian}}</td>
								</tr>
								<tr>
									<td></td>
									<td><span itemprop="about">{{name_one_race_asian_indian}}</td>
									<td>{{value_one_race_asian_indian}}</td>
								</tr>
								<tr>
									<td></td>
									<td><span itemprop="about">{{name_one_race_asian_chinese}}</td>
									<td>{{value_one_race_asian_chinese}}</td>
								</tr>
								<tr>
									<td></td>
									<td><span itemprop="about">{{name_one_race_asian_filipino}}</td>
									<td>{{value_one_race_asian_filipino}}</td>
								</tr>
								<tr>
									<td></td>
									<td><span itemprop="about">{{name_one_race_asian_japanese}}</td>
									<td>{{value_one_race_asian_japanese}}</td>
								</tr>
								<tr>
									<td></td>
									<td><span itemprop="about">{{name_one_race_asian_korean}}</td>
									<td>{{value_one_race_asian_korean}}</td>
								</tr>
								<tr>
									<td></td>
									<td><span itemprop="about">{{name_one_race_asian_vietnamese}}</td>
									<td>{{value_one_race_asian_vietnamese}}</td>
								</tr>
								<tr>
									<td></td>
									<td><span itemprop="about">{{name_one_race_asian_other_asian}}</td>
									<td>{{value_one_race_asian_other_asian}}</td>
								</tr>
								
								<tr>
									<td><span itemprop="about">{{name_one_race_native_hawaiian_and_other_pacific_islander}}</td>
									<td></td>
									<td>{{value_one_race_native_hawaiian_and_other_pacific_islander}}</td>
								</tr>
								
								<tr>
									<td></td>
									<td><span itemprop="about">{{name_one_race_native_hawaiian}}</td>
									<td>{{value_one_race_native_hawaiian}}</td>
								</tr>
								<tr>
									<td></td>
									<td><span itemprop="about">{{name_one_race_native_hawaiian_guamanian}}</td>
									<td>{{value_one_race_native_hawaiian_guamanian}}</td>
								</tr>
								<tr>
									<td></td>
									<td><span itemprop="about">{{name_one_race_native_hawaiian_samaon}}</td>
									<td>{{value_one_race_native_hawaiian_samaon}}</td>
								</tr>
								<tr>
									<td></td>
									<td><span itemprop="about">{{name_one_race_native_hawaiian_other_pacific}}</td>
									<td>{{value_one_race_native_hawaiian_other_pacific}}</td>
								</tr>
								
								<tr>
									<td><span itemprop="about">{{name_one_race_some_other_race}}</td>
									<td></td>
									<td>{{value_one_race_some_other_race}}</td>
								</tr>
								
								
							</tbody>
						</table>
					</div>
					</div>


					<div>			
			<p><span class="label label-success">Two or More Races-Breakdown</span></p>
			<div class="table-responsive">
						<table
							class="table table-condensed table-striped table-bordered table-hover no-margin">
							<thead>
								<tr>
									<th style="width: 10%">Race</th>								
									<th style="width: 10%">Estimate(%)</th>
								</tr>
							</thead>
							<tbody>

								<tr>
									<td><span itemprop="about">{{name_two_or_more_races_white_black}}</td>								
									<td>{{value_two_or_more_races_white_black}}</td>
								</tr>
								<tr>
									<td><span itemprop="about">{{name_two_or_more_races_white_american}}</td>									
									<td>{{value_two_or_more_races_white_american}}</td>
								</tr>
								<tr>
									<td><span itemprop="about">{{name_two_or_more_races_white_asian}}</td>								
									<td>{{value_two_or_more_races_white_asian}}</td>
								</tr>
								<tr>
									<td><span itemprop="about">{{name_two_or_more_races_black_american}}</td>								
									<td>{{value_two_or_more_races_black_american}}</td>
								</tr>
							</tbody>
						</table>
					</div>						
			</div>
		
		</div>
					
		</div>
		</div>