<div itemscope itemtype="http://schema.org/Dataset">
<div id = "relationship" class="panel panel-default">

			<div class="panel-heading">
				<h3 class="panel-title"><span itemprop="about">Relationship in <span itemprop="spatial">{{value_name}} households (2013 Census Estimates)</h3>
			</div>			
			<div  class="panel-body">
			<div class = "col-xs-12">		
			<p>	{{name_pop_in_hosholds}} : <span class="label label-primary">{{value_pop_in_hosholds}}</span></p>
									
			<div class="col-xs-12">	
			<div  class="panel-body">		
			<div id="name_relationship_by_type" style="min-width: 375px; height: 450px; max-width: 500px;">
			</div>
			<div class="table-responsive">
						<table
							class="table table-condensed table-striped table-bordered table-hover no-margin">
							<thead>
								<tr>
									<th style="width: 10%"><span itemprop="about">{{name_relationship_by_type}}</th>								
									<th style="width: 10%">Estimate (%)</th>
								</tr>
							</thead>
							<tbody>

								<tr>
									<td><span itemprop="about">{{name_relationship_by_type_householder}}</td>								
									<td>{{value_relationship_by_type_householder}}</td>
								</tr>
								<tr>
									<td><span itemprop="about">{{name_relationship_by_type_spouse}}</td>								
									<td>{{value_relationship_by_type_spouse}}</td>
								</tr>
								<tr>
									<td><span itemprop="about">{{name_relationship_by_type_child}}</td>								
									<td>{{value_relationship_by_type_child}}</td>
								</tr>
								<tr>
									<td><span itemprop="about">{{name_relationship_by_type_other_rel}}</td>								
									<td>{{value_relationship_by_type_other_rel}}</td>
								</tr>
								<tr>
									<td><span itemprop="about">{{name_relationship_by_type_nonrel}}</td>								
									<td>{{value_relationship_by_type_nonrel}}</td>
								</tr>								
								
							</tbody>
						</table>
					</div>		
				</div>
			</div>						
			
					
		</div>	

					
		</div>
		</div>
		
		</div>
		
		

					
		