<script src="${pageContext.request.contextPath}/js/icharts.js"></script> 
 <script>
  $(document).ready(function() 
          {   
			
	  var re= ${fipcode};	  
	  var dat ;
	  $.ajax({
			url : '${pageContext.request.contextPath}/charts',
			type : "GET",			
			headers: {
		        'resource':re
			},
			dataType : "json",
			contentType : "application/json",
				success: function(data){     
	             var obj= JSON.parse(JSON.stringify(data));           
	             var temp = obj.idToJsonMap; 
	           /* for (var key in temp) {
   			 	drawchart(key,temp[key]);
				}*/
				drawchart("name_school_enrollment_by_grade",temp["name_school_enrollment_by_grade"]);			
	              
	             }
		});
			        	 
        	 
 });
</script>




<div itemscope itemtype="http://schema.org/Dataset">
	<div id = "schoolenrollment" class="panel panel-default">
		
			<div class="panel-heading">
				<h3 class="panel-title"><span itemprop="about">School Enrollment in <span itemprop="spatial">{{value_name}} (2013 Census Estimates) </h3>
			</div>			
			<div  class="panel-body">
			<div class = "col-xs-12">		
			<p>	{{name_pop_3_over_enrolled_school}} : <span class="label label-primary">{{value_pop_3_over_enrolled_school}}</span></p>
						
			<div class="col-xs-12">	
			<div  class="panel-body">		
			<div id="name_school_enrollment_by_grade" style="min-width: 375px; height: 450px; max-width: 500px;">
			</div>
			<div class="table-responsive">
						<table
							class="table table-condensed table-striped table-bordered table-hover no-margin">
							<thead>
								<tr>
									<th style="width: 10%"><span itemprop="about">{{name_school_enrollment}}</th>								
									<th style="width: 10%">Estimate (%)</th>
								</tr>
							</thead>
							<tbody>

								<tr>
									<td><span itemprop="about">{{name_school_entollment_nur_preschool}}</td>								
									<td>{{value_school_entollment_nur_preschool}}</td>
								</tr>
								<tr>
									<td><span itemprop="about">{{name_school_enrollment_kinder_garten}}</td>								
									<td>{{value_school_enrollment_kinder_garten}}</td>
								</tr>
								<tr>
									<td><span itemprop="about">{{name_school_enrollment_elementary}}</td>								
									<td>{{value_school_enrollment_elementary}}</td>
								</tr>
								<tr>
									<td><span itemprop="about">{{name_school_enrollment_high_school}}</td>								
									<td>{{value_school_enrollment_high_school}}</td>
								</tr>
								<tr>
									<td><span itemprop="about">{{name_school_enrollment_college}}</td>								
									<td>{{value_school_enrollment_college}}</td>
								</tr>
								
								
							</tbody>
						</table>
					</div>		
				</div>
			</div>						
			
					
		</div>	

					
		</div>
		</div>
		
		</div>
		
		

					
		