
<div class="content-wrapper">
        <!-- Content Header (Page header) -->  
   


        <!-- Main content -->
        <section class="content">   
         <section class="content-header">    
	<div class="row">      
          <ol class="breadcrumb">
	    {{#links}}		
            <li><a href="{{linkValue}}"><i class="fa fa-dashboard"></i> {{linkName}}</a></li>
             {{/links}}
            <li class="active">{{active}}</li>
          </ol>
 </div>
	</section>
 
 


<div class="row">
	GOOGLE ADD GOES HERE
</div>

<div class="table-responsive">
  <table class="table table-condensed table-striped table-bordered table-hover no-margin">
    <thead>
      <tr>        
        <th style="width:10%">Name</th>
        <th style="width:10%" >Population</th> 
         <th style="width:10%" >Male Vs Female (%)</th>  
         <th style="width:10%" >Median Age</th>  
         <th style="width:10%" >Population with Bachelors or higher degrees (%)</th>    
         <th style="width:10%" >Hispanic Population(%)</th>        
        <th style="width:10%"">Average Family Size</th>
      </tr>
    </thead>
    <tbody>    
    {{#entities}}
      <tr>       
        <td>        
          <span class="name"> <a href="{{entitylink}}">{{entityname}}</a></span>
        </td>        
        <td>{{entitypopulation}}     
        </td>
        <td>{{malepercent}}% Male and {{femalepercent}}% female
        </td>
        <td>{{medianage}} years        
        </td>
        <td>{{bachelorsorhigher}}
        </td>
        <td>{{hispanic}} 
        </td>
        <td> {{avefamilysize}}
        </td>        
      {{/entities}}     
    </tbody>
  </table>
</div>     
</section>
</div>                       		