<div itemscope itemtype="http://schema.org/Dataset">	
<div id = "veterans" class="panel panel-default">
	<div>
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- VeteranStatus_AdBar -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-3154845825068093"
     data-ad-slot="3170072963"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
			<div class="panel-heading">
				<h3 class="panel-title"><span itemprop="about">Veterans Status in <span itemprop="spatial">{{value_name}} (2013 Census Estimates)</h3>
			</div>			
			<div  class="panel-body">
			<div class = "col-xs-12">		
			<p>	<span itemprop="about">{{name_veteran_status_civpop_18_over}} : <span class="label label-primary">{{value_veteran_status_civpop_18_over}}</span></p>
			<p>	<span itemprop="about">{{name_veteran_status_civ_veterans}} : <span class="label label-primary">{{value_veteran_status_civ_veterans}} %</span></p>
			</div>	
			</div>		
	
					
		</div>	
		
		</div>

					
		